* {
  text-align: center;
  background-color: white;
  font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}

.images {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

.humanchoice {
  display: inline-block;
  margin-bottom: 30px;
}

h1 {
  font-size: 3em;
  font-weight: 400;
}

p {
  font-size: 1.25em;
}

span {
  font-size: 1.25em;
}

#result {
  font-size: 1.5em;
}
