@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  font-family: "Open Sans", sans-serif;
  background-color: antiquewhite;
}

#nextButton {
  width: 110px;
}

h1 {
  text-align: center;
  margin-bottom: 60px;
}

#question {
  text-align: center;
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 30px;
}

li {
  list-style: none;
  margin-bottom: 20px;
  margin-top: 20px;
  border: 1px solid;
  border-radius: 5px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5px;
}

ul {
  margin: 0;
  padding: 0;
}

#messageBox {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#result {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
  right: 10px;
  margin-top: 15px;
  margin-bottom: 20px;
}

#nextButton {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}
