* {
  text-align: center;
  font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
  background-color: antiquewhite;
}

p {
  font-size: 5em;
}

button {
  margin-top: 80px;
  margin-left: 15px;
  margin-right: 15px;
  padding: 8px;
  border: 3px solid;
  border-radius: 5px;
  width: 80px;
  font-size: 1em;
}

button:active {
  background: #e5e5e5;
  box-shadow: inset 0px 0px 5px #c1c1c1;
  outline: none;
}

h1 {
  margin-top: 70px;
  margin-bottom: 120px;
  font-size: 2.2em;
}
