@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;1,400;1,500&display=swap');

* {
  font-family: 'Lora', sans-serif;
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  color: rgba(192, 192, 192, 1.00);
  text-align: center;
}

h1 {
  text-align: center;
  margin-top: 60px;
  font-size: 2.1em;
}

#quote {
  margin-bottom: 80px;
  margin-top: 60px;
  font-size: 1.5em;
  font-weight: 500;
  line-height: 60px;
}

button {
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
}
