@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=PT+Serif&display=swap');

* {
  font-family: "Kaushan Script", sans-serif;
  text-align: center;
  color: black;
  font-weight: 100;
}

h2 {
  font-size: 1.5em;
  margin-top: 30px;
}

#clock {
  font-size: 4em;
  margin-top: 20px;
  margin-bottom: 25px;
}

#greeting {
  font-size: 2em;
}

.image {
  position: block;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
